<!DOCTYPE html>
<html>
    <head>
        <title>Cobra</title>
        <link rel="stylesheet" type="text/css" href="style/style.css" />
        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,600' rel='stylesheet' type='text/css'>
        <meta charset="UTF-8">
    </head>
    <body class="background">
        <main></main>
        <div class="clear"></div>
        
		<script src="../../assets/libraries/jquery.min.js"></script>
		<script src="../../assets/libraries/d3.min.js"></script>
		<script src="../../assets/libraries/index.js"></script>

		<script src="functions/functions.js"></script>
    </body>
</html>